{% extends 'app/base.html' %}
{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Contact Us</h2>
</div>
<div>
    <p>Have questions? Reach out to us using the details below:</p>

    <ul class="list-group mt-3">
        <li class="list-group-item"><strong>Email:</strong> suriyaprakash88suriya@gmail.com</li>
        <li class="list-group-item"><strong>Phone:</strong> +91-9786475009,9344661821</li>
        <li class="list-group-item"><strong>Address:</strong>Ayyas medical shop, Banyan tree near, near Banyan tree, Rettanai, Tamil Nadu 604306</li>
    </ul>
</div>
{% endblock %}
